body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF
  cursor pointer

.bitbucket-button
  margin-top 15px

.login-form
  margin-top 15px
  .form-control
    margin-right 15px
    width 180px

.inline-edit
  margin-right 10px
  &.url-input
    width 300px

.btn-noborder
  margin-left 10px

.edit-block
  .btn-noborder
    display inline-block

.table-new
  margin-top 10px

.project-edit
  color gray !important
  cursor pointer
  &:hover
    color black !important

.configuration-header
  margin-left 35px
  margin-right 15px

.user-table
  th.edit, td.edit
    width 120px
    a.btn
      margin-right 10px

  .password-form
    input
      width 200px
      margin-left 15px
      margin-right 15px

  td.vmiddle
    vertical-align middle

    select.form-control
      display inline-block
      width 150px

ul.jobs
  list-style-type none
  padding-left 15px
  padding-right 15px

  li.job
    text-decoration none

    .description
      i.icon-spinner
        float right

    .job-cancel
      margin-top 7px
      margin-bottom -7px
      margin-left 10px
      float right

    &:last-child
      .description
        border-bottom 1px solid #E6E6E6

    .description
      cursor pointer
      display block
      background-color #EEE
      border-top 1px solid #E6E6E6
      color #BBB
      padding-left 15px
      padding-right 15px
      padding-bottom 15px
      &:hover
        background-color #EAEAEA

    .elapsed-time
      margin-top 20px
      float left
      font-size 16px
      font-weight normal
      color #666

    .icon
      display inline-block

    .outcome
      margin-top 20px
      font 16px
      float right
      .failure-icon
        color red
      .success-icon
        color green

    img.loader
      float right

    .start-time
      margin-top 20px
      font 13px 'Monaco', courier, 'courier new', monospace
      float left
      margin-right 20px

    .log
      display none
      padding 20px
      background-color #333
      font 13px 'Monaco', courier, 'courier new', monospace
      color #777

      .output
        word-wrap break-word
        width 100%
        color #DDD
